# Python
__pycache__/
*.pyc

# Environment Variables
.env

# Conda
.conda/

# Data
data/*.csv
data/*.xlsx

# Node
node_modules/

# Mac
.DS_Store

# IDE
.vscode/
.idea/
Golden Analytics/data/Vendor-Payments_2021-23(FY 2022).csv
